<div>
  <h3 class="card-title text-black "> Nahranie XML súboru</h3>
</div>
<div>
   <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
     <div>
  <input style="margin:5px;font-size:14px" type="file" name="xml" (change)="onFileSelect($event)" />
  </div>
  <div>
    <button type="submit" style="margin:5px;width:310px; height:50px;" (click)="file.click()">Nahraj XML</button>
    </div>
    </form>
  </div>
    <div>
    <button class="btn btn-info" style="margin:5px;width:310px; height:50px;" (click)="file.click()">Manualne parametre</button>
</div>
