<strong><font size="7">Hub Format</font> <br></strong>
Softvérové riešenie pre diplomovú prácu: <br>
<div style="background-color:#eff1f4; text-align:left; vertical-align: middle; padding:20px">
<p style = "font:monaco;font-size:21px;">
<font style="margin:25px;"> Rozšírené prístupy k Formátu pre popis ľudského tela (2019)</font><br>
<font style="margin:25px;font-size:13px;">Technická univerzita v Košiciach, Katedra počítačov a informatiky</font><br>
<font style="margin:25px;font-size:13px;">Miloš Čorba</font><br>
</p>
</div>
<hr>
<br>

<div>
<strong><font size="5"> GitHub projekty: </font> <br></strong>
&middot; <a href="https://github.com/tualunga/HubFormat">Hub Format</a> - Serverová časť /Spring Boot/ <br>
&middot; <a href="https://github.com/tualunga/Hub-format-angular">Hub Format Angular</a> - Používateľská časť /Angular/<br>
</div>
<hr>
